<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="container-fluid">
    <header class="row bg-primary">
      <div class="col-10 offset-1 col-md-8 offset-md-2">
        <nav class="navbar navbar-dark bg-primary navbar-expand">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Каталог</a>
            <a class="nav-item nav-link" href="#">Доставка</a>
            <a class="nav-item nav-link" href="#">Гарантии</a>
            <a class="nav-item nav-link" href="#">Контакты</a>
          </div>
        </nav>
      </div>
    </header>
    <main class="row">
      <div class="page-content col-10 offset-1 col-md-8 offset-md-2">
        <h3><%= textContent %></h3>
      </div>
    </main>
    <footer class="row">
      <div class="col-10 offset-1 col-md-8 offset-md-2">
        (c) Codery.camp, 2020
      </div>
    </footer>
  </div>
</body>

</html>