<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="container-fluid">
    <header class="row bg-primary">
      <div class="col-10 offset-1 col-md-8 offset-md-2">
        <nav class="navbar navbar-dark bg-primary navbar-expand">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Каталог</a>
            <a class="nav-item nav-link" href="#">Доставка</a>
            <a class="nav-item nav-link" href="#">Гарантии</a>
            <a class="nav-item nav-link" href="#">Контакты</a>
          </div>
        </nav>
      </div>
    </header>
    <main class="row justify-content-center">
      <% for (let i=0; i < products.length; i++) { %>
        <% let product = products[i]; %>
        <div class="card col-auto">
          <img class="card-img-top img-fluid" src="<%= product.img %>" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= product.title %></h5>
            <p class="card-text"><%= product.description %></p>
          </div>
          <div class="card-footer bg-transparent">
            <a href="/product/<%= product.url %>" class="btn btn-primary">Купить</a>
          </div>
        </div>
      <% } %>
    </main>
    <footer class="row">
      <div class="col-10 offset-1 col-md-8 offset-md-2">
        (c) Codery.camp, 2020
      </div>
    </footer>
  </div>
</body>

</html>